.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  font-size: medium;
  font-family: 'Ubuntu';
  text-align: justify;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideNavContainer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}

*:focus {
  outline: none;
}

.filter {
  height: 100%;
  background: rgba(0, 0, 0, 0.226);
}

.imageFavori {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.JuneGull {
  font-family: 'JuneGull';
}

.grey {
  color: rgb(109, 109, 109);
  font-family: 'Ubuntu';
}

*:focus {
  outline: none !important
}