.imageSlide{
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.descriptionContentCarousel{
    margin-left: 5%;
}

.titleSlide{
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
}

.descriptionCarousel {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 10px black;
}

.btn-carousel{
    width: 200px;
    padding: 15px;
    font-family: 'Ubuntu';
    margin-top: 16px;
    font-size: large;
    border: none;
    background: white;
    opacity: 0.7;
    border-radius: 100px;
    color: black;
}

.btn-carousel:hover{
    color: black;
    text-decoration: none;
    opacity: 1;
}
@media (max-width:720px) {
    .titleSlide{
        font-size: 30px;
    }
    .descriptionCarousel {
        font-size: 20px !important;
    }
    .btn-carousel{
        width: 160px;
        padding: 8px;
    }
}