.inputContactUs {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(61, 61, 61, 0.295);
}

.inputContactUs:focus {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.171);
}

.btnSubmit {
    width: 200px;
    height: 45px;
    font-size: large;
    font-family: 'ubuntu';
    border-radius: 100px;
    background: rgb(0, 141, 118);
    color: white;
}

.btnSubmit:hover {
    background: rgb(0, 175, 146);
}

.titleContactUs {
    margin-top: 100px;
    margin-bottom: 36px;
    font-family: 'Ubuntu';
    font-size: 55px;
    color: rgb(253, 90, 90);
    text-shadow: 1px 1px 1px rgba(0, 128, 128, 0.932);
}

.formContainer {
    background: rgb(247, 247, 247);
}