.imageDetailLocalisation {
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.allImageByLoc {
    height: 250px;
}

@media (max-width:720px) {
    .allImageByLoc {
        height: 150px;
    }
    .ImageByLoc {
        font-size: 14px !important;
    }
    .span {
        font-size: 11px !important;
    }
}

.clickMyImage {
    padding-left: 8px;
    padding-right: 8px;
}

.w3-height {
    height: 100%;
}

.JuneGull {
    font-family: 'JuneGull';
}

.BugsLife {
    font-family: 'BugsFace';
}

.borderBottom {
    border-bottom: 5px solid #009688;
}

.sect {
    margin-bottom: 30px;
}

.loc {
    padding-top: 80px;
    padding-bottom: 50px;
}

.span {
    border: 3px solid white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ImageByLoc {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 3px solid white;
}

.ImageByLocVideo {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 3px solid white;
    margin-bottom: 40px;
}

.videoItinerary {
    border: 5px solid white;
}

#id01 {
    z-index: 2000;
}

.clickMe {
    cursor: pointer;
    overflow: hidden;
}

.modal {
    background: #000000d7;
}

.pullItinerary {
    font-family: 'Ubuntu';
    position: fixed !important;
    z-index: 100;
    margin-top: 65px;
    right: 20px;
}

.itineraryBody {
    z-index: 5000;
}

@media (max-width:993px) {
    .buttonPull {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

.div1 {
    margin-bottom: 0px !important;
}

.div2 {
    margin-top: 0px !important;
}

.btnContactUs {
    width: 200px;
    height: 60px;
    font-size: large;
    font-family: 'ubuntu';
    border-radius: 100px;
    background: rgb(0, 141, 118);
    color: white;
}
.btnContactUs:hover {
    background: rgb(0, 175, 146);
}