.imageFavori {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.filter {
  height: 100%;
  background: rgba(0, 0, 0, 0.226);
}

.categorieImage {
  margin: 2%;
  color: white;
  font-size: 60px;
  font-family: 'JuneGull';
}

.descriptionContainer {
  margin-top: 36px;
  margin-bottom: 36px;
}

.imageDetailPart {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.w3-imageDetail {
  object-position: center;
  object-fit: cover;
  transition: 0.5s;
  z-index: 0;
}

.w3-imageDetail:hover {
  transform: scale(1.2, 1.2);
  transition: 0.7s;
}

.imageDetailPart:hover {
  transition: 0.5s;
}

.titleLocalisation {
  font-family: 'JuneGull';
  font-size: 40px;
  border-bottom: 7px solid #009688;
  padding-left: 20px;
}

.nameImage {
  padding-left: 30px;
  padding-right: 30px;
  font-size: medium;
  line-height: 30px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774);
}

.view_more_btn {
  z-index: 100;
  margin-top: 3%;
  margin-right: 6%;
  font-size: 11px;
  color: white;
  padding: 2%;
  padding-top: 1.5%;
  border-radius: 100px;
  width: 80px;
  text-align: center;
  background: white;
  color: black;
  opacity: 0.9;
}

.view_more_btn:hover{
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.imageContainerDetail {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.red {
  color: rgb(255, 40, 40);
  font-family: 'JuneGull';
}

.amber {
  color: #009688;
  font-family: 'JuneGull';
}

.div1 {
  margin-bottom: 0px !important;
}

.div2 {
  margin-top: 0px !important;
}
.w3-card-height{
  height: 200px;
}
@media (max-width:720px) {
  .w3-card-height{
    height: 150px;
  }
}