*{
    user-select: none;
}
.holy-tag{
    color: white;
    font-family: 'JuneGull';
}
.grey{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}
.red{
    color: rgb(255, 40, 40);
    font-family: 'JuneGull';
}
.amber{
    color: #009688;
    font-family: 'JuneGull';
}
.sigle{
    background-image: url('../image/splash.jpg');
    background-size: cover;
    height: 350px;
}
.back{
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
}

.myCard{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #009688;
    height: 400px;
    overflow: hidden;
  }

  .myCardTeam1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #009688;
    height: 520px;
    overflow: hidden;
  }
  .myCardTeam2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #009688;
    height: 520px;
    overflow: hidden;
  }
  .imageContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid white;
}
.imageContainerTeam{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.itineraryImage{
    width: 150px;
    min-height: 100px;
    object-fit: cover;
}
.teamImage{
    object-fit: cover;
    object-position: center;
    height: 100%;
}