@font-face{
    font-family: 'BugsFace';
    src: url('../font/ABugsLif.ttf') format('truetype');
}
@font-face{
    font-family: 'JuneGull';
    src: url('../font/junegul.ttf') format('truetype');
}
@font-face{
    font-family: 'Calligraphy';
    src: url('../font/CalligraphyFL.ttf') format('truetype');
}
@font-face{
    font-family: 'Ubuntu';
    src: url('../font/VarelaRound-Regular.otf') format('opentype');
}