.imageContainerGalleryVideo{
    width: 100%;
    height: 250px;
}

.imageGalleryVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.JuneGull {
    font-family: 'JuneGull';
}

.ImageByLoc{
    padding-left: 16px;
    padding-right: 16px;
}

.videoItinerary {
    border: 5px solid white;
}

#id01 {
    z-index: 2000;
}

.clickMe {
    cursor: pointer;
    overflow: hidden;
}

.modal{
    background:#000000d7;
}
.w3-height {
    height: 100%;
}
.h{
    border-bottom: 7px solid #009688;
    margin-bottom: 20px;
}

@media (max-width:720px) {
    .imageContainerGalleryVideo{
      height: 150px;
    }
    .ImageByLoc{
        font-size: 14px !important;
    }
    .span{
        font-size: 11px !important;
    }
}