*{
  user-select: none;
}
.presentationHolyContainer{
    padding-top: 24px;
    padding-bottom: 24px;
}

.presentationHolyContainer p {
    font-size: large;
    font-weight: 500;
    color: rgb(58, 58, 58);
    line-height: 2em;
}

.circuitImageContainer{
    margin-bottom: 30px;
}

.circuitImg{
    width:100%;
}
.my_parallax {
    /* The image used */
    background-image: url('/image/gallery/parallax.png');

    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .my_parallax{
      background-attachment: fixed;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  .avatarImg{
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }
  .color{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}