.bodyItinerary {
    background: rgb(224, 224, 224)
}

.title {
    padding: 30px;
}

.subtitle {
    margin: 20px;
}

.imageItinerary {
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 100%;
}