*{
    user-select: none;
}
.logo{
    width: 100px;
    height: auto;
}

.my-nav{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 90px;
}

.myNavLink{
    font-size: medium;
    letter-spacing: 1px;
    font-family: 'Ubuntu';
}

.myNavLink:hover{
    color: #ff3232;
}
.myNavLink:hover .arrow{
    transform: rotate(90deg);
    transition: 0.5s;
}

.arrow{
    transition: 0.5s;
}
.myNavItem{
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: 0.5s;
}

.contactNavLink{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 3px;
    font-weight: 600;
    border-bottom: 3px solid #009688;
    padding: 12px;
    min-width: 100px;
    font-family: 'Ubuntu';
    transition: 0.5s;
}

.contactNavLink:hover {
    background: #009688;
    border-bottom: 3px solid rgb(255, 40, 40);
}

.contactNavLink:hover .contact{
    color: white !important;
    text-decoration: none;
}

.contact{
    
    color: rgb(255, 40, 40);
    text-decoration: none;
}
.myNavContainer{
    padding-top: 3px;
}

.myNavItem:hover{
    border: 1px solid rgba(0, 0, 0, 0.411);
    transition: 1s;
}

.myNavItem:focus{
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
}



.submenu{
    min-width: 100px;
    height: 35px;
    padding-top: 5px;
    text-align: center;
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}

.submenu:hover{
    background: white;
    border-radius: 5px;
    color: rgb(109, 109, 109);
    cursor: pointer;
}
.color{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}
.insta {
    background: linear-gradient(to right, #00afe4 0%, #ff3232 100%);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
  }
  .mail{
      text-decoration: none;
  }
  .popover{
      max-width: 80%;
      width: 100%;
      margin-right: 10%;
      margin-left: 10%;
  }

  .it{
      text-decoration: none !important;
  }