.myParagraphFaune_flore {
    font-weight: normal;
    font-size: large;
    margin-left: 40px;
}

.imageFauneAndFlore{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.fauneAnFloreContainer div{
    margin-bottom: 50px;
}
.myKindChild1{
    font-size: 4vw;
    color: #009688;
    font-family: 'Junegull';
    line-height: 1;    
}
.offersTitle{ 
    text-align: left;
    margin-bottom: 60px;
    font-size: 20px; 
    font-family: 'Ubuntu'; 
    color: rgb(104, 39, 39);
    line-height: 1.5;
}
.myKindChild2{
    font-size: 2.5vw;
    line-height: 1;
    color: rgb(255, 40, 40);
    font-family: 'Junegull';
}
.myKind{
    margin-bottom: 20px;
}
.line{
    border: 5px solid #009688;
    width: 100px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.deco{
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
}
.firstLayers{
    height: 100%;
    background: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}
*{
    user-select: none;
}
.color{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}
.container{
    padding-top: 20px;
    overflow: hidden;
}
.offers{
    height: 500px;
}
.offers1{
    height:100%;
    object-position: center;
    object-fit: cover;
}
.holy{
    color: white;
    font-family: 'JuneGull';
}
.back{
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
}