*{
    user-select: none;
}
.imgCard{
    object-fit: cover;
}

.myCardText{
    font-size: large;
    font-weight: 500;
    color: black
}

.myCardTextContainer{
    padding-top: 24px;
    padding-bottom: 24px;
}

.myMadagascarPresentaion{
    font-size: 3vw;
    font-family: 'JuneGull';
    color: #009688;
}

.my-card{
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #009688;
}

.my-card:hover {
    background: rgb(236, 236, 236);
}
.travel_dream{
    height: 300px;
    border: 10px solid white;
}
.travel_dream_bg{
    height: 100%;
    background: rgba(0, 0, 0, 0.527);
}
.travelText{
    font-size: 4vw;
    font-weight: 700;
    color: white;
}
.tourText{
    color: rgb(255, 40, 40);
    font-size: x-large;
    font-weight: 500;
    font-family: 'Ubuntu';
}
.my_parallax2 {
    /* The image used */
    background-image: url('/image/gallery/parallax2.jpg');

    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  .color{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}