*{
    user-select: none;
}
.imgCard{
    object-fit: cover;
    height: 250px;
}

.myCardText{
    font-size: large;
    font-weight: 500;
    color: black
}

.myCardTextContainer{
    padding-top: 24px;
    padding-bottom: 24px;
}
.my-card{
    cursor: pointer;
    margin-bottom: 16px;
}

.my-card:hover {
    background: rgb(236, 236, 236);
}
.travel_dream{
    height: 300px;
    border: 10px solid white;
}
.travel_dream_bg{
    height: 100%;
    background: rgba(0, 0, 0, 0.527);
}
.travelText{
    font-size: 4vw;
    font-weight: 700;
    color: white;
}
.my_parallax {
    /* The image used */
    background-image: url('/image/gallery/parallax1.jpg');

    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  .color{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}