*{
    user-select: none;
}
.link:hover {
    text-decoration: none;
}

.my-dropdown-list {
    width: 100%;
    display: block;
    color: rgb(109, 109, 109);
    width: 100%;
    padding: 2%;
    padding-left: 60px;
}

.my-dropdown-list::after {
    content: '';
    display: inline;
    clear: both;
}

.my-dropdown-list:hover {
    color: rgb(109, 109, 109);
    text-decoration-line: none;
    background: rgb(233, 233, 233);
}

.list-dropdown{
    display: none;
    width: 100%;
}
.number{
    font-size: x-large;
}
.dev{
    color: #009688;
}
.dev:hover{
    color: rgb(255, 40, 40);
}
.foot{
    width: 50%;
}
.quota{
    margin-top: 50px;
}
.color{
    color: rgb(109, 109, 109);
    font-family: 'Ubuntu';
}