* {
  user-select: none;
}

.welcomeContainer {
  height: 100%;
  margin-top: -90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.welcomeCase {
  margin-left: 10%;
}

.welcome {
  font-size: 4vw;
  color: white;
  font-family: 'JuneGull';
  text-shadow: 2px 2px 3px rgb(49, 49, 49);
}

.holy {
  font-size: 6vw;
  font-family: 'BugsFace';
  text-shadow: 2px 2px 3px rgb(49, 49, 49);
}

.topbar {
  width: 140px;
  height: 0px;
  border-radius: 30px;
  border: 5px solid #009688;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px rgb(49, 49, 49);
}

.back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
}

.splashImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.warm {
  top: 0px;
  color: white;
  font-size: 2vw;
  font-family: 'JuneGull';
  line-height: 0px;
  text-shadow: 2px 2px 3px rgb(49, 49, 49);
}

.splashlogo {
  width: 200px;
  height: auto;
  margin: 30px;
}

.skipButton {
  background: none;
  border: none;
  color: white;
  font-size: 60px;
  z-index: 1000;
}

.color {
  color: rgb(109, 109, 109);
  font-family: 'Ubuntu';
}

.w3-height {
  height: 100%;
}

.w3-overflow-hidden {
  overflow: hidden;
}

.mada {
  width: 40%;
  margin-left: 18%;
}

.logo-well {
  width: 20%;
  margin-left: -8%;
  margin-top: 70px;
}

.sambo2 {
  width: 10%;
  margin-right: 12%;
}

.sfd {
  transform: rotateY(180deg);
}

.sambo3 {
  width: 10%;
  margin-right: 20%;
  margin-bottom: 30px;
}

/* This container is needed to position the front and back side */

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* //-------------------------------------------------------------------------------------------------------- */

/* //-------------------------------------------------------------------------------------------------------- */

.flip-box-well {
  background-color: transparent;
  perspective: 10000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-box-inner-well {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */

.flip-box-front-well, .flip-box-well {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-box-front-well {
  background-color: #bbb;
  color: black;
}

/* Style the back side */

.flip-box-back-well {
  transform: rotateY(180deg);
}

.flip-face{
  height: 400%;
  width: 100%;
  background: white;
}